{% extends 'base.html' %}
{% block content %}
{% load static %}


 <div class="mask d-flex align-items-center h-100 gradient-custom">
     <div class="container" >
         <div class="card" style="border: 2px solid #07bc4c">
          <div class="row justify-content-center" >
            <div class="col-12 col-lg-9" style="background-color:  white; padding:150px"; >
              <form action="login" method="post">
                {% csrf_token %}
                {% for i in messages %}
                    <h3 style="color:red">{{i}}</h3>
                    {% endfor %}
                   <!-- username input -->
              <div class="form-outline mb-4">

                <input type="text" id="username" name="username" class="form-control" />
                <label class="form-label" for="username">Username</label>
              </div>

             <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password"  name="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
                </div>

                    <!-- 2 column grid layout for inline styling -->
           <div class="row mb-4">
              <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
                <div class="form-check">
               <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form2Example3"
                checked
                />
        <label class="form-check-label" for="form2Example3"> Remember me </label>
        </div>
      </div>

      <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
      </div>
    </div>

  <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
     <div class="text-center">
         <p>Not a member? <a href={% url 'register' %}>Register</a></p>

     </div>
  </form>
    </div>
           </div>
           </div>
{% endblock %}