{% extends 'base.html' %}
{% block content %}
{% load static %}

 <div class="mask d-flex align-items-center h-100 gradient-custom padding:100px">

     <div class="container" style="padding:150px";>
         <div class="card" >
            <div class="row justify-content-center" >
              <div class="col-12 col-lg-9"  >
               <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Success....</p>

                   <form action="{% url 'shopping' %}" method="post">
                    {% csrf_token %}
                       <!-- Shopping button -->
                       <button type="submit" class="btn btn-primary btn-block mb-4"> Let's continue ur shopping</button>
                   </form>
              </div>
            </div>
         </div>
     </div>
 </div>

{% endblock %}
